{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Coorg Jungleway</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<!--===============================================================================================-->	

</head>
<body>	

<div class="container">
	<div class="page-header">
		<a style="float:right;" href="/logout/"><i class="fas fa-sign-out-alt"></i>LOGOUT</a>
		<p style="float:right;">Welcome : <span class="glyphicon glyphicon-user"></span> Admin &nbsp &nbsp </p>
		<h1><i class="fas fa-cog"></i>DASHBOARD</h1>
	</div>
	 <div class="row">
	</div>
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
	<div class="panel panel-default">
		<div class="panel-heading">Features</div>
		<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				 <li><a href="room/"><i class="fas fa-thumbtack"></i> Add Room </a></li>
				 <li><a href="checkbookings/"><i class="fas fa-thumbtack"></i> Booking Details </a></li>
				 <li><a href="ContactCustomer/"><i class="fas fa-thumbtack"></i> Contact Us Details </a></li>
				 <li><a href="NewsfeedMail/"><i class="fas fa-thumbtack"></i> NewsFeedMail </a></li>
				 <li><a href="feedback/"><i class="fas fa-thumbtack"></i> Customer Feedback </a></li>
			</ul>
		</div>
	</div>
	</div>
	
	</div>
  </div>
</div>
</body>
</html>