{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>

<title>Coorg Jungleway</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Coorg Jungleway Resorts a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-CSS --> 	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
<!-- Index-Page-CSS --> <link rel="stylesheet" href="{% static 'css/style.css' %}" 		type="text/css" media="all">
<!-- Index-Page-CSS --> <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" 	type="text/css" media="all">
<!-- Animate.CSS --> 	<link rel="stylesheet" href="{% static 'css/animate.css' %}" 		type="text/css" media="all">
<!-- //Custom-Stylesheet-Links -->

<!-- Fonts -->
<!-- Body-Font -->	 <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" type="text/css">
<!-- Logo-Font -->	 <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cinzel+Decorative:400,900,700" type="text/css">
<!-- Navbar-Font --> <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"			   type="text/css">
<!-- //Fonts -->

</head>
<!-- //Head -->



<!-- Body -->
<body>

	<!-- Header -->
	<div class="header agileits w3layouts" id="home">

		<!-- Navbar -->
		<nav class="navbar navbar-default inner-pages-navbar agileits w3layouts wow bounceInUp">
			<div class="container">

				<div class="navbar-header agileits w3layouts">
					<button type="button" class="navbar-toggle agileits w3layouts collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only agileits w3layouts">Toggle navigation</span>
						<span class="icon-bar agileits w3layouts"></span>
						<span class="icon-bar agileits w3layouts"></span>
						<span class="icon-bar agileits w3layouts"></span>
					</button>
					<a class="navbar-brand agileits w3layouts" href="/">The Coorg Jung<i class="fas fa-tree"></i>eway</a>
				</div>

				<div id="navbar" class="navbar-collapse agileits w3layouts navbar-right collapse">
					<ul class="nav navbar-nav agileits w3layouts">
						<li><a href="/">HOME</a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/cuisines">ACCOMMODATION</a></li>
						<li><a href="/gallery">GALLERY</a></li>
						
						<li class="active"><a href="/booking">BOOKING</a></li>
					</ul>
				</div>

			</div>
		</nav>
		<!-- //Navbar -->


		<!-- Banner -->
		<div class="banner agileits w3layouts">
			<img src="{% static 'images/banner.jpg' %}" alt="Agileits W3layouts">
			<h1 class="wow agileits w3layouts fadeInDown">BOOKING & CONTACT</h1>
		</div>
		<!-- //Banner -->

	</div>
	<!-- //Header -->



	<!-- Location -->
	<div class="location agileits w3layouts">
		<div class="container">

			<div class="col-md-6 col-sm-6 agileits w3layouts location-grids location-grids-1 wow slideInLeft">
				<h3>Where We Are</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

			<div class="col-md-6 col-sm-6 agileits w3layouts location-grids location-grids-2 wow slideInRight">
				<img src="{% static 'images/location.jpg' %}" alt="Agileits W3layouts">
			</div>
			<div class="clearfix"></div>
			
		</div>
	</div>
	<!-- //Location -->



	<!-- Booking -->
	<div class="reg agileits w3layouts">
		<div class="container">
		
			<div class="register agileits w3layouts">

				<h2>Book Your Resort!</h2>
				<form action="{% url 'roombooking' %}" method="POST"> {% csrf_token %}

				<div class="members wow agileits w3layouts slideInLeft">
					<div class="adult agileits w3layouts">
						<h4>No. of Adults Per Room</h4>
							<div class="dropdown-button agileits w3layouts">
								<select name="adults" class="dropdown agileits w3layouts" tabindex="10" data-settings='{"wrapperClass":"flat"}' required/>
										<option value=1>1</option>
										<option value=2>2</option>
										<option value=3>3</option>
										<option value=4>4</option>
								</select>
							</div>
					</div>

					<div class="place wow  agileits w3layoutsslideInLeft">
						<div class="dropdown-button agileits w3layouts">
							<h4>No. of Rooms</h4>
							<select name="rooms" class="dropdown agileits w3layouts" tabindex="10" data-settings='{"wrapperClass":"flat"}'>
								<option value=1>1</option>
								<option value=2>2</option>
								<option value=3>3</option>
								<option value=4>4</option>
							</select>
						</div>
					</div>

					<div class="child wow slideInLeft agileits w3layouts">
						<h4>Email</h4>
							<div>
								<input name="email" class="form-control agileits w3layouts" aria-describedby="sizing-addon1" required>
							</div>
							{% if form.email.errors %}
								<div class="alert agileits w3layouts alert-danger" role="alert">
									<strong>Enter a valid Email Address</strong>
								</div>
							{% endif %}
					</div><br/>
					
					<div class="child wow slideInLeft agileits w3layouts">
						<h4>Phone Number</h4>
							<div>
								<input type="Number" name="phone_number" class="form-control agileits w3layouts" aria-describedby="sizing-addon1" required>
							</div>
							{% if form.phone_number.errors %}
								<div class="alert agileits w3layouts alert-danger" role="alert">
									<strong>Enter a valid Phone Number</strong>
								</div>
							{% endif %}
					</div>
				<div class="clearfix"></div>
				</div>

				<div class="suite wow slideInLeft agileits w3layouts">
					<div class="dropdown-button agileits w3layouts">
						</br><h4>Suite</h4>           			
		    			<select name="room_type" class="dropdown agileits w3layouts" tabindex="10" data-settings='{"wrapperClass":"flat"}' required>
							<!-- <option value="1"></option> -->
							{% for obj in object_list %}
							<option value='{{obj.room_name}}'>{{obj.room_name}}</option>
							{% endfor %}
						</select>
					</div>
					{% if form.non_field_errors and success != True %}
						<div class="alert agileits w3layouts alert-danger" role="alert">
							<strong>Either Room not available or Improper Date !!</strong>
						</div>
					{% endif %}
				</div>

				<div class="book-pag wow agileits w3layouts slideInLeft">
					<h4>Select Date</h4>
					<div class="book-pag-frm1 agileits w3layouts wow slideInLeft">
						<label>Check In</label>
						<input name="datepicker1" class="date agileits w3layouts" id="datepicker1" type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required/>
					</div>
					<div class="book-pag-frm2 wow agileits w3layouts slideInLeft">
						<label>Check Out</label>
						<input name="datepicker2" class="date agileits w3layouts" id="datepicker2" type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required/>
					</div>
				<div class="clearfix"></div>
				</div>

				<!-- <div class="food wow agileits w3layouts slideInLeft">
					<h4>Choose Cuisine</h4>
						<div class="radio-btns agileits w3layouts">
							<ul>
								<li>
									<input id="male" class="w3-radio" type="radio" name="gender" value="local">
									<label class="w3-validate">Local</label>
								</li>
								<li class="li2">
									<input id="female" class="w3-radio" type="radio" name="gender" value="continental">
									<label class="w3-validate">Continental</label>
								</li>
								<li>
									<input id="unknown" class="w3-radio" type="radio" name="gender" value="multicuisine">
									<label class="w3-validate">Multi</label>
								</li>
							</ul>
						</div>
				</div> -->

				<div class="submit wow agileits w3layouts slideInLeft">
					<input type="submit" style="background-color: #228822;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;" value="BOOK NOW"/>
					{% if success %}
					<div class="alert agileits w3layouts alert-success" role="alert">
						<strong>Booking Successful!!</strong> Please check your Email for details
					</div>
					{% endif %}
				</div>
				</form>


				<!-- Popup-Box -->
				<!-- <div id="popup">
					<div id="small-dialog" class="mfp-hide agileits w3layouts">
						<div class="pop_up agileits w3layouts">
							<div class="payment-online-form-left agileits w3layouts">
								<form>
									<h4><span class="shipping agileits w3layouts"> </span>Customer Details</h4>
									<ul class="agileits w3layouts">
										<li class="agileits w3layouts"><input required="" class="text-box-dark agileits w3layouts" type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}"></li>
										<li class="agileits w3layouts"><input required="" class="text-box-dark agileits w3layouts" type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"></li>
									</ul>
									<ul class="agileits w3layouts">
										<li class="agileits w3layouts"><input required="" class="text-box-dark agileits w3layouts" type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></li>
										<li class="agileits w3layouts"><input required="" class="text-box-dark agileits w3layouts" type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}"></li>
									</ul>
									<div class="clearfix"></div>
									<h4 class="paymenthead agileits w3layouts"><span class="payment agileits w3layouts"></span>Payment Details</h4>
									<div class="clearfix"></div>
									<ul class="payment-type agileits w3layouts">
										<li class="agileits w3layouts"><span class="col_checkbox agileits w3layouts">
												<input id="3" class="css-checkbox1 agileits w3layouts" type="checkbox">
												<label for="3" class="css-label1 agileits w3layouts"></label>
												<a class="visa agileits w3layouts" href="#"></a>
											</span>
										</li>
										<li class="agileits w3layouts">
											<span class="col_checkbox agileits w3layouts">
												<input id="4" class="css-checkbox2 agileits w3layouts" type="checkbox">
												<label for="4" class="css-label2 agileits w3layouts"></label>
												<a class="paypal agileits w3layouts" href="#"></a>
											</span>
										</li>
									</ul>
									<ul class="agileits w3layouts">
										<li class="agileits w3layouts"><input required="" class="text-box-dark agileits w3layouts" type="text" value="Card Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Card Number';}"></li>
										<li class="agileits w3layouts"><input required="" class="text-box-dark agileits w3layouts" type="text" value="Name on card" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name on card';}"></li>
									</ul>
									<ul class="agileits w3layouts">
										<li class="agileits w3layouts"><input required="" class="text-box-light hasDatepicker agileits w3layouts" type="text" id="datepicker" value="Expiration Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Expiration Date';}"><em class="pay-date"> </em></li>
										<li class="agileits w3layouts"><input required="" class="text-box-dark agileits w3layouts" type="text" value="Security Code" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Security Code';}"></li>
									</ul>
									<ul class="payment-sendbtns agileits w3layouts">
										<li class="agileits w3layouts"><input type="reset" value="Reset"></li>
										<li class="agileits w3layouts"><input type="submit" value="Process Payment" class="order"></li>
									</ul>
									<div class="clearfix"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<button title="Close (Esc)" type="button" class="mfp-close agileits w3layouts">×</button> -->
				<!-- //Popup-Box -->

			</div>

		</div>
	</div>
	<!-- //Booking -->



	<!-- Contact -->
	<div class="contact agileits w3layouts">
		<div class="container">

			<h2 class="wow agileits w3layouts slideInLeft">KEEP IN TOUCH WITH US</h2>
			<p class="contact-p wow agileits w3layouts slideInLeft">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequateu fugiat nulla pariatur.</p>

			<div class="contact-grids agileits w3layouts">

				<div class="col-md-6 col-sm-6 agileits w3layouts contact-grid contact-grid-1">
					<div class="address wow agileits w3layouts slideInLeft">
						<h4>Address</h4>
						<address>
							<ul>
								<li><span class="glyphicon agileits w3layouts glyphicon-map-marker" aria-hidden="true"></span> Harangi Backwater Road</li>
								<li><span class="glyphicon agileits w3layouts glyphicon-map-marker" aria-hidden="true"></span> Hadre Heroor, Heroor Post</li>
								<li><span class="glyphicon agileits w3layouts glyphicon-map-marker" aria-hidden="true"></span> Kushalnagar</li>
								<li><span class="glyphicon agileits w3layouts glyphicon-map-marker" aria-hidden="true"></span> Karnataka - 571234</li>
							</ul>
						</address>
					</div>
					<div class="phone wow agileits w3layouts slideInLeft">
						<h4>Phone</h4>
						<p><span class="glyphicon agileits w3layouts glyphicon-earphone" aria-hidden="true"></span> +91 9008137007</p>
						<p><span class="glyphicon agileits w3layouts glyphicon-earphone" aria-hidden="true"></span> +91 9845842345</p>
						<p><span class="glyphicon agileits w3layouts glyphicon-earphone" aria-hidden="true"></span> +91 9886868686</p>
					</div>
					<div class="email wow agileits w3layouts slideInLeft">
						<h4>Email</h4>
						<p><span class="glyphicon agileits w3layouts glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:mail@example.com"> junglewaycoorg@gmail.com</a></p>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="col-md-6 col-sm-6 agileits w3layouts contact-grid contact-grid-2 wow slideInLeft">
					<form action="{% url 'contact' %}" method="post">{% csrf_token %}
						<input type="text" class="text wow agileits w3layouts slideInLeft" name="Name" placeholder="Name" required="">
						<input type="text" class="text wow agileits w3layouts slideInLeft" name="Email" placeholder="Email" required="">
						{% if form.Email.errors %}
								<div class="alert agileits w3layouts alert-danger" role="alert">
									<strong>Enter a valid Email Address</strong>
								</div>
						{% endif %}
						<textarea name="Message" class="wow agileits w3layouts slideInLeft" placeholder="Message" required=""></textarea>
						<input type="submit" class="more_btn wow agileits w3layouts slideInLeft" value="Send Message">
					</form>
				</div>
				<div class="clearfix"></div>
				
			</div>

		</div>
	</div>
	<!-- //Contact -->



	<!-- Map-iFrame -->
	<div class="map wow agileits w3layouts slideInUp" id="map">
		<!-- <div class="map-hover agileits w3layouts"> -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22702.22744502486!2d11.113366067229226!3d44.662878362361056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fc3eca9065c15%3A0x12ec8a03aadae866!2s40019+Sant&#39;Agata+Bolognese+BO%2C+Italy!5e0!3m2!1sen!2sin!4v1451281303075" allowfullscreen></iframe>
			<!-- <div class="map-hover-1 agileits w3layouts"></div> -->
		</div>
	</div>
	<!-- //Map-iFrame -->



	<!-- Footer -->
	<div class="footer agileits w3layouts">
		<div class="container">

			<div class="col-md-6 col-sm-6 agileits w3layouts footer-grids">
				<div class="col-md-4 col-sm-4 agileits w3layouts footer-grid footer-grid-1 wow fadeInUp">
					<ul class="agileits w3layouts">
						<li class="agileits w3layouts">Jungle Resort</li>
						<li class="agileits w3layouts">Waterside Resorts</li>
						<li class="agileits w3layouts">Class Accommodation</li>
						<li class="agileits w3layouts">Adventure Seekers</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 footer-grid agileits w3layouts footer-grid-2 wow fadeInUp">
					<ul class="agileits w3layouts">
						<li class="agileits w3layouts"><a href="/gallery">Adventures</a></li>
						<li class="agileits w3layouts"><a href="/gallery">Luxury</a></li>
						<li class="agileits w3layouts"><a href="/gallery">Waterside</a></li>
						<li class="agileits w3layouts"><a href="/gallery">Nature</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 footer-grid agileits w3layouts footer-grid-2 wow fadeInUp">
					<ul class="agileits w3layouts">
						<li class="agileits w3layouts"><a href="/about">About</a></li>
						<li class="agileits w3layouts"><a href="/cuisines">Accommadation</a></li>
						<li class="agileits w3layouts"><a href="/gallery">Gallery</a></li>
						<li class="agileits w3layouts"><a href="/booking">Contact</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="col-md-6 col-sm-6 footer-grids agileits w3layouts social wow fadeInUp">
				<ul class="social-icons agileits w3layouts">
					<li class="agileits w3layouts"><a href="#" class="facebook agileits w3layouts" title="Go to Our Facebook Page"></a></li>
					<li class="agileits w3layouts"><a href="#" class="twitter agileits w3layouts" title="Go to Our Twitter Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="googleplus agileits w3layouts" title="Go to Our Google Plus Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="instagram agileits w3layouts" title="Go to Our Instagram Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="youtube agileits w3layouts" title="Go to Our Youtube Channel"></a></li>
				</ul>
			</div>

			<div class="col-md-6 col-sm-6 footer-grids agileits w3layouts copyright wow fadeInUp">
				<p>&copy; 2018 The Coorg Jungleway. All Rights Reserved | Design by W3layouts & InFive Tech</p>
			</div>
			<div class="clearfix"></div>
			
		</div>
	</div>
	<!-- //Footer -->



	<!-- Necessary-JavaScript-Files-&-Links -->

		<!-- Default-JavaScript -->	  <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		<!-- Bootstrap-JavaScript --> <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Animate.CSS-JavaScript -->
			<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
			<script src="{% static 'js/wow.min.js' %}"></script>
				<script>
					new WOW().init();
				</script>
		<!-- //Animate.CSS-JavaScript -->

		<!-- Booking-Popup-Box-JavaScript -->
			<script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
			<script>
				$(document).ready(function() {
					$('.popup-with-zoom-anim').magnificPopup({
						type: 'inline',
						fixedContentPos: false,
						fixedBgPos: true,
						overflowY: 'auto',
						closeBtnInside: true,
						preloader: false,
						midClick: true,
						removalDelay: 300,
						mainClass: 'my-mfp-zoom-in'
					});
				});
			</script>
		<!-- //Booking-Popup-Box-JavaScript -->


		<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
			<script type="text/javascript">
				$(document).ready(function() {
					var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 100,
						easingType: 'linear'
					};
					$().UItoTop({ easingType: 'easeOutQuart' });
				});
			</script>
			<a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
		<!-- //Slide-To-Top JavaScript -->

		<!-- Smooth-Scrolling-JavaScript -->
			<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll, .navbar li a, .footer li a").click(function(event){
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
			</script>
		<!-- //Smooth-Scrolling-JavaScript -->

		<!-- Date-Picker-JavaScript -->
			<script src="{% static 'js/jquery-ui.js' %}"></script>
			<script>
				$(function() {
					$( "#datepicker,#datepicker1,#datepicker2" ).datepicker();
				});
			</script>
		<!-- //Date-Picker-JavaScript -->

	<!-- //Necessary-JavaScript-Files-&-Links -->



</body>
<!-- //Body -->

</html>