{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>

<title>Coorg Jungleway</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Coorg Jungleway Resorts a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-CSS --> 		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
<!-- Index-Page-CSS --> 	<link rel="stylesheet" href="{% static 'css/style.css' %}" 		type="text/css" media="all">
<!-- Gallery-Popup-CSS -->  <link rel="stylesheet" href="{% static 'css/chocolat.css' %}" 		type="text/css" media="all">
<!-- Animate.CSS --> 		<link rel="stylesheet" href="{% static 'css/animate.css' %}" 		type="text/css" media="all">
<!-- //Custom-Stylesheet-Links -->

<!-- Fonts -->
<!-- Body-Font -->	 <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" type="text/css">
<!-- Logo-Font -->	 <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cinzel+Decorative:400,900,700" type="text/css">
<!-- Navbar-Font --> <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"			   type="text/css">
<!-- //Fonts -->

</head>
<!-- //Head -->



<!-- Body -->
<body>

	<!-- Header -->
	<div class="header agileits w3layouts" id="home">

		<!-- Navbar -->
		<nav class="navbar navbar-default agileits w3layouts inner-pages-navbar wow bounceInUp">
			<div class="container">

				<div class="navbar-header agileits w3layouts">
					<button type="button" class="navbar-toggle agileits w3layouts collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only agileits w3layouts">Toggle navigation</span>
						<span class="icon-bar agileits w3layouts"></span>
						<span class="icon-bar agileits w3layouts"></span>
						<span class="icon-bar agileits w3layouts"></span>
					</button>
					<a class="navbar-brand agileits w3layouts" href="/">The Coorg Jung<i class="fas fa-tree"></i>eway</a>
				</div>

				<div id="navbar" class="navbar-collapse agileits w3layouts navbar-right collapse">
					<ul class="nav navbar-nav agileits w3layouts">
						<li><a href="/">HOME</a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/cuisines">ACCOMMODATION</a></li>
						<li class="active"><a href="/gallery">GALLERY</a></li>
						<li><a href="/booking">BOOKING</a></li>
					</ul>
				</div>

			</div>
		</nav>
		<!-- //Navbar -->


		<!-- Banner -->
		<div class="banner agileits w3layouts">
			<img src="{% static 'images/banner.jpg' %}" alt="Agileits W3layouts">
			<h1 class="wow agileits w3layouts fadeInDown">GALLERY</h1>
		</div>
		<!-- //Banner -->

	</div>
	<!-- //Header -->



	<!-- Rooms -->
	<div class="rooms agileits w3layouts">
		<div class="container">

			<h2>We Provide The Best Hospitality</h2>

			<div class="rooms-grids agileits w3layouts">
				<div class="rooms-grid agileits w3layouts rooms-grid-1 wow fadeInRight">
					<img src="{% static 'images/room-1.jpg' %}" alt="Agileits W3layouts">
					<h3>STAR HOTELS</h3>
				</div>
				<div class="rooms-grid rooms-grid-2 agileits w3layouts wow fadeInLeft">
					<img src="{% static 'images/room-2.jpg' %}" alt="Agileits W3layouts">
					<h3>BEACH RESORTS</h3>
				</div>
				<div class="rooms-grid rooms-grid-3 wow fadeInRight agileits w3layouts">
					<img src="{% static 'images/room-3.jpg' %}" alt="Agileits W3layouts">
					<h3>BEACH HOUSES</h3>
				</div>
				<div class="rooms-grid rooms-grid-4 wow agileits w3layouts fadeInLeft">
					<img src="{% static 'images/room-4.jpg' %}" alt="Agileits W3layouts">
					<h3>WATER HOUSES</h3>
				</div>
			</div>

		</div>
	</div>
	<!-- Rooms -->



	<!-- Portfolio -->
	<div class="portfolio agileits w3layouts">

		<div class="ga-top agileits w3layouts">

			<div class="col-md-3 col-sm-3 agileits w3layouts portfolio-top">

				<div class="portfolio-item agileits w3layouts wow zoomIn">
					<a class="example-image-link agileits w3layouts" href="{% static 'images/gallery-large-1.jpg' %}" data-lightbox="example-set" data-title="">
						<div class="grid agileits w3layouts">
							<figure class="effect-apollo agileits w3layouts">
								<img src="{% static 'images/gallery-1.jpg' %}" alt="Agileits W3layouts">
									<figcaption></figcaption>
							</figure>
						</div>
					</a>
				</div>

				<div class="portfolio-item wow agileits w3layouts zoomIn">
					<a class="example-image-link agileits w3layouts" href="{% static 'images/gallery-large-2.jpg' %}" data-lightbox="example-set" data-title="">
						<div class="grid agileits w3layouts">
							<figure class="effect-apollo agileits w3layouts">
								<img src="{% static 'images/gallery-2.jpg' %}" alt="Agileits W3layouts">
									<figcaption></figcaption>
							</figure>
						</div>
					</a>
				</div>
				<div class="clearfix"></div>

			</div>

			<div class="col-md-3 col-sm-3 agileits w3layouts portfolio-top">

				<div class="portfolio-item wow agileits w3layouts zoomIn">
					<a class="example-image-link agileits w3layouts" href="{% static 'images/gallery-large-3.jpg' %}" data-lightbox="example-set" data-title="">
						<div class="grid agileits w3layouts">
							<figure class="effect-apollo agileits w3layouts">
								<img src="{% static 'images/gallery-3.jpg' %}" alt="Agileits W3layouts">
									<figcaption></figcaption>
							</figure>
						</div>
					</a>
				</div>

				<div class="portfolio-item agileits w3layouts wow zoomIn">
					<a class="example-image-link agileits w3layouts" href="{% static 'images/gallery-large-4.jpg' %}" data-lightbox="example-set" data-title="">
						<div class="grid agileits w3layouts">
							<figure class="effect-apollo agileits w3layouts">
								<img src="{% static 'images/gallery-4.jpg' %}" alt="Agileits W3layouts">
									<figcaption></figcaption>
							</figure>
						</div>
					</a>
				</div>

				<div class="portfolio-item wow agileits w3layouts zoomIn">
					<a class="example-image-link agileits w3layouts" href="{% static 'images/gallery-large-5.jpg' %}" data-lightbox="example-set" data-title="">
						<div class="grid agileits w3layouts">
							<figure class="effect-apollo agileits w3layouts">
								<img src="{% static 'images/gallery-5.jpg' %}" alt="Agileits W3layouts">
									<figcaption></figcaption>
							</figure>
						</div>
					</a>
				</div>
				<div class="clearfix"></div>

			</div>

			<div class="col-md-3 col-sm-3 agileits w3layouts portfolio-top">

				<div class="portfolio-item agileits w3layouts wow zoomIn">
					<a class="example-image-link agileits w3layouts" href="{% static 'images/gallery-large-6.jpg' %}" data-lightbox="example-set" data-title="">
						<div class="grid agileits w3layouts">
							<figure class="effect-apollo agileits w3layouts">
								<img src="{% static 'images/gallery-6.jpg' %}" alt="Agileits W3layouts">
									<figcaption></figcaption>
							</figure>
						</div>
					</a>
				</div>

				<div class="portfolio-item agileits w3layouts wow zoomIn">
					<a class="example-image-link agileits w3layouts" href="{% static 'images/gallery-large-7.jpg' %}" data-lightbox="example-set" data-title="">
						<div class="grid agileits w3layouts">
							<figure class="effect-apollo agileits w3layouts">
								<img src="{% static 'images/gallery-7.jpg' %}" alt="Agileits W3layouts">
									<figcaption></figcaption>
							</figure>
						</div>
					</a>
				</div>
				<div class="clearfix"></div>

			</div>

			<div class="col-md-3 col-sm-3 agileits w3layouts portfolio-top">

				<div class="portfolio-item wow agileits w3layouts zoomIn">
					<a class="example-image-link agileits w3layouts" href="{% static 'images/gallery-large-8.jpg' %}" data-lightbox="example-set" data-title="">
						<div class="grid agileits w3layouts">
							<figure class="effect-apollo agileits w3layouts">
								<img src="{% static 'images/gallery-8.jpg' %}" alt="Agileits W3layouts">
									<figcaption></figcaption>
							</figure>
						</div>
					</a>
				</div>

				<div class="portfolio-item wow agileits w3layouts zoomIn">
					<a class="example-image-link agileits w3layouts" href="{% static 'images/gallery-large-9.jpg' %}" data-lightbox="example-set" data-title="">
						<div class="grid agileits w3layouts">
							<figure class="effect-apollo agileits w3layouts">
								<img src="{% static 'images/gallery-9.jpg' %}" alt="Agileits W3layouts">
									<figcaption></figcaption>
							</figure>
						</div>
					</a>
				</div>

				<div class="portfolio-item wow agileits w3layouts zoomIn">
					<a class="example-image-link agileits w3layouts" href="{% static 'images/gallery-large-10.jpg' %}" data-lightbox="example-set" data-title="">
						<div class="grid agileits w3layouts">
							<figure class="effect-apollo agileits w3layouts">
								<img src="{% static 'images/gallery-10.jpg' %}" alt="Agileits W3layouts">
									<figcaption></figcaption>
							</figure>
						</div>
					</a>
				</div>
				<div class="clearfix"></div>

			</div>

			<div class="clearfix"></div>

		</div> 

	</div>
	<!-- //Portfolio -->



	<!-- Footer -->
	<div class="footer agileits w3layouts">
		<div class="container">

			<div class="col-md-6 col-sm-6 agileits w3layouts footer-grids">
				<div class="col-md-4 col-sm-4 agileits w3layouts footer-grid footer-grid-1 wow fadeInUp">
					<ul class="agileits w3layouts">
						<li class="agileits w3layouts">Jungle Resort</li>
						<li class="agileits w3layouts">Waterside Resorts</li>
						<li class="agileits w3layouts">Class Accommodation</li>
						<li class="agileits w3layouts">Adventure Seekers</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 footer-grid agileits w3layouts footer-grid-2 wow fadeInUp">
					<ul class="agileits w3layouts">
						<li class="agileits w3layouts"><a href="/gallery">Adventures</a></li>
						<li class="agileits w3layouts"><a href="/gallery">Luxury</a></li>
						<li class="agileits w3layouts"><a href="/gallery">Waterside</a></li>
						<li class="agileits w3layouts"><a href="/gallery">Nature</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 footer-grid footer-grid-2 agileits w3layouts wow fadeInUp">
					<ul class="agileits w3layouts">
						<li class="agileits w3layouts"><a href="/about">About</a></li>
						<li class="agileits w3layouts"><a href="/cuisines">Accommadation</a></li>
						<li class="agileits w3layouts"><a href="/gallery">Gallery</a></li>
						<li class="agileits w3layouts"><a href="/booking">Contact</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>


			<div class="col-md-6 col-sm-6 footer-grids agileits w3layouts social wow fadeInUp">
				<ul class="social-icons agileits w3layouts">
					<li class="agileits w3layouts"><a href="#" class="facebook agileits w3layouts" title="Go to Our Facebook Page"></a></li>
					<li class="agileits w3layouts"><a href="#" class="twitter agileits w3layouts" title="Go to Our Twitter Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="googleplus agileits w3layouts" title="Go to Our Google Plus Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="instagram agileits w3layouts" title="Go to Our Instagram Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="youtube agileits w3layouts" title="Go to Our Youtube Channel"></a></li>
				</ul>
			</div>

			<div class="col-md-6 col-sm-6 footer-grids agileits w3layouts copyright wow fadeInUp">
				<p>&copy; 2018 The Coorg Jungleway. All Rights Reserved | Design by W3layouts & InFive Tech</p>
			</div>
			<div class="clearfix"></div>
			
		</div>
	</div>
	<!-- //Footer -->



	<!-- Custom-JavaScript-File-Links -->

		<!-- Default-JavaScript -->	  <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		<!-- Bootstrap-JavaScript --> <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Animate.CSS-JavaScript -->
			<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
			<script src="{% static 'js/wow.min.js' %}"></script>
				<script>
					new WOW().init();
				</script>
		<!-- //Animate.CSS-JavaScript -->

		<!-- Portfolio-Popup-Box-JavaScript -->
			<script src="{% static 'js/modernizr.custom.97074.js' %}"></script>
			<script src="{% static 'js/jquery.chocolat.js' %}"></script>
			<script type="text/javascript">
				$(function() {
					$('.portfolio-item a').Chocolat();
				});
			</script>
		<!-- //Portfolio-Popup-Box-JavaScript -->

		<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
			<script type="text/javascript">
				$(document).ready(function() {
					var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 100,
						easingType: 'linear'
					};
					$().UItoTop({ easingType: 'easeOutQuart' });
				});
			</script>
			<a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
		<!-- //Slide-To-Top JavaScript -->

		<!-- Smooth-Scrolling-JavaScript -->
			<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll, .navbar li a, .footer li a").click(function(event){
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
			</script>
		<!-- //Smooth-Scrolling-JavaScript -->

	<!-- //Custom-JavaScript-File-Links -->

</body>
<!-- //Body -->

</html>